.menyknapp {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 18rem;

    &__ikon {
        display: flex;
        justify-content: center;
        margin-right: 1rem;
        flex-shrink: 0;
        margin-top: 0.2rem;
    }

    &__beskrivelse {
        overflow: hidden;
        text-align: left;
    }

    &__navn {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__chevron {
        margin-top: 0.7rem;
        margin-left: 1rem;
    }
}
