@import '~nav-frontend-core/less/_variabler';

.bedriftsmeny {
    background-color: #cce1f3;
    border-bottom: 0.25rem solid #99c2e8;

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;
        max-width: 60rem;
        margin: 0 auto;
    }

    &__tittel {
        margin: 2rem 0 1rem;
    }

    @media (min-width: @screen-md-min) {
        &__tittel {
            margin: 0;
        }

        &__inner {
            flex-direction: row;
        }
    }
}
