.navbm-bedriftsmeny {
    background-color: var(--navds-global-color-blue-100);
    border-bottom: 0.25rem solid var(--navds-global-color-deepblue-200);
    padding: 1rem;
}

@media (min-width: 48rem) {
    .navbm-bedriftsmeny {
        padding: 2rem 1rem;
    }
}

.navbm-innhold {
    display: flex;
    flex-wrap: wrap;
    max-width: 60rem;
    margin: 0 auto;
    justify-content: space-between;
    column-gap: 3rem;
    row-gap: 1rem;
    align-items: center;
}

.navbm-widgets {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
}
