@import '~nav-frontend-core/less/_variabler';
@import './pilOpp.less';

.virksomhetsvelger {
    z-index: 10;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__button {
        background-color: white;
        border-radius: 2px;
        border: 2px solid #78706a;
        padding: 0.5rem 0.7rem 0.5rem 1rem;
        width: 18rem;

        @media (min-width: @screen-sm-min) {
            width: 20rem;
        }

        &:hover {
            background-color: @navBla;
        }

        &:active {
            background-color: @navBlaDarken40;
        }

        &:active,
        &:hover {
            color: white;

            svg g {
                stroke: white;
            }
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px @fokusFarge;
        }
    }

    &__meny {
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        padding: 1.5rem 0;

        &:focus {
            outline: none;
        }
    }

    &__dropdownwrapper {
          .dropdown-innhold {
              width: 18rem;
              display: flex;
              flex-direction: column;
              background-color: white;
              outline: none;
              border: solid 2px #194d62;
              border-radius: 4px;
              position: absolute;
              top: -16px;
              transform: translateY(6.5rem);
          }

          &--lukket {
              .dropdown-innhold();
              visibility: hidden;
              max-height: 0;
              opacity: 0;
              transition: all 0.2s ease-in-out;
          }

          &--apen {
              .dropdown-innhold();
              visibility: visible;
              max-height: 25rem;
              opacity: 1;
              transition: max-height 0.4s linear;
              .pilOpp();
          }
      }

    @media (min-width: 23rem) {
        &__dropdownwrapper--apen {
            width: 21rem;
        }
    }

    @media (min-width: 28rem) {
        &__dropdownwrapper {
            &--apen {
                width: 26rem;
                top: -0.7rem;
            }
        }
    }

    @media (min-width: @screen-sm-min) {
        &__dropdownwrapper {
            &--apen {
                right: 0;
                max-height: 35rem;
            }
        }
    }

    .juridisk-enhet:not(:first-child) {
        margin-top: 0.5rem;
    }
}
