@import '~nav-frontend-core/less/_variabler';
@import './pilOpp.less';

.virksomhetsvelger {
    z-index: 10;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__dropdown {
        &--lukket,
        &--apen {
            width: 18rem;
            background-color: white;
            outline: none;
            border: solid 2px #194d62;
            border-radius: 4px;
            position: absolute;
            top: 5.5rem;

            .dropdownmeny-elementer-wrapper {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                position: relative;
            }

            .dropdownmeny-elementer {
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                overflow-x: hidden;
                width: 100%;
                padding: 1.5rem 0 0;

                &:focus {
                    outline: none;
                }
            }
        }

        &--lukket {
            visibility: hidden;
            max-height: 0;
            opacity: 0;
            transition: all 0.4s ease-in-out;

            .dropdownmeny-elementer {
                max-height: 0;
                transition: max-height 0.4s ease-in-out;
            }
        }

        &--apen {
            visibility: visible;
            max-height: 25rem;
            opacity: 1;
            transition: max-height 0.6s linear;
            .pilOpp();

            .dropdownmeny-elementer {
                max-height: 20rem;
                transition: max-height 0.6s linear;
            }
        }
    }

    @media (min-width: 23rem) {
        &__dropdown--apen {
            width: 21rem;
        }
    }

    @media (min-width: 28rem) {
        &__dropdown {
            &--apen {
                width: 26rem;
            }
        }
    }

    @media (min-width: @screen-sm-min) {
        &__dropdown {
            &--apen {
                right: 0;
                max-height: 35rem;

                .dropdownmeny-elementer {
                    max-height: 30rem;
                }
            }
        }
    }
}
