#virksomhetsvelger__dropdown {
    z-index: var(--virksomhetsvelger-z-index, 15);
}

.virksomhetsvelger {
    color: var(--navds-semantic-color-text);
}

.virksomhetsvelger__dropdown--lukket,
.virksomhetsvelger__dropdown--apen {
    left: -1rem;
    width: calc(100% + 2rem);
    background-color: white;
    outline: none;
    border: solid 2px #194d62;
    border-radius: 4px;
    position: absolute;
    top: 6.1rem;
    max-height: 35rem;
    visibility: hidden;
    transform: rotateX(-90deg);
    transform-origin: top center;
    opacity: 0.3;
}

.virksomhetsvelger__dropdown--apen {
    visibility: visible;
    transform-origin: top center;
    transform: rotateX(0);
    opacity: 1;
}

.virksomhetsvelger__dropdown--lukket .dropdownmeny-elementer-wrapper,
.virksomhetsvelger__dropdown--apen .dropdownmeny-elementer-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.virksomhetsvelger__dropdown--lukket .dropdownmeny-elementer,
.virksomhetsvelger__dropdown--apen .dropdownmeny-elementer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    max-height: 25rem;
}

.virksomhetsvelger__dropdown--lukket .dropdownmeny-elementer::-webkit-scrollbar-track,
.virksomhetsvelger__dropdown--apen .dropdownmeny-elementer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.virksomhetsvelger__dropdown--lukket .dropdownmeny-elementer::-webkit-scrollbar,
.virksomhetsvelger__dropdown--apen .dropdownmeny-elementer::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.virksomhetsvelger__dropdown--lukket .dropdownmeny-elementer::-webkit-scrollbar-thumb,
.virksomhetsvelger__dropdown--apen .dropdownmeny-elementer::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

@media (min-width: 23rem) {
    .virksomhetsvelger__dropdown--lukket,
    .virksomhetsvelger__dropdown--apen {
        max-width: 23rem;
        left: unset;
    }
}

@media (min-width: 48rem) {
    .virksomhetsvelger .dropdownmeny-elementer {
        max-height: 30rem;
    }

    .virksomhetsvelger .dropdownmeny-elementer.medSokeTekst {
        max-height: calc(30rem - 2.5rem);
    }
}
