@import '../../../../../../node_modules/nav-frontend-core/less/_variabler';

.meny-fra-sokeresultat {

  &__juridisk-enhet-visning {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.125rem;
    padding: 1rem;
    position: relative;
    height: 5rem;
    border: 0.5px solid @navGra80;
  }
}