.navbm-virksomhetsvelger__juridisk-enhet .navds-accordion__content,
.navbm-virksomhetsvelger__juridisk-enhet .navds-accordion__header,
.navbm-virksomhetsvelger__juridisk-enhet .navds-accordion__header:hover,
.navbm-virksomhetsvelger__juridisk-enhet .navds-accordion__header:active {
    border: none;
}

.navbm-virksomhetsvelger__juridisk-enhet .navds-accordion__header {
    align-items: center;
    border-radius: var(--navds-border-radius-medium);
}

.navbm-virksomhetsvelger__juridisk-enhet .navds-accordion__header:focus {
    box-shadow: inset var(--navds-shadow-focus);
}

.navbm-virksomhetsvelger__juridisk-enhet {
    border-radius: var(--navds-border-radius-medium);
    background-color: white;
}

.navbm-virksomhetsvelger__juridisk-enhet .navds-accordion__content {
    padding: var(--navds-spacing-2);
}

.navbm-virksomhetsvelger__enhet {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: var(--navds-spacing-4);
}

.navbm-virksomhetsvelger__enhet--juridisk {
    grid-template-columns: 1fr auto;
    padding: var(--navds-spacing-4) var(--navds-spacing-5);
}

.navbm-virksomhetsvelger__enhet-tittel {
    font-weight: bold;
}

.navbm-virksomhetsvelger__enhet-tekst {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.navbm-virksomhetsvelger__enhet-beskrivelse {
    margin-top: var(--navds-spacing-2);
}

.navbm-virksomhetsvelger__underenheter {
    display: flex;
    flex-direction: column;
    gap: var(--navds-spacing-1);
    padding: 0;
    list-style: none;
}

.navbm-virksomhetsvelger__underenheter ul {
    padding: 0;
}

.navbm-virksomhetsvelger__underenhet {
    justify-content: flex-start;
    width: 100%;
}

.navbm-virksomhetsvelger__underenhet-innhold {
    width: 100%;
    padding: var(--navds-spacing-3) var(--navds-spacing-4);
}
.navbm-virksomhetsvelger__underenhet-innhold > span {
    width: 100%;
}

.navbm-virksomhetsvelger__underenhet-ikon {
    width: 1.25rem;
    height: 1.25rem;
}
