.bedriftsmenyknapp + .navds-popover .navds-popover__arrow {
    background-color: var(--navds-semantic-color-canvas-background);
}

.bedriftsmenyknapp:active {
    color: white;
}

.bedriftsmenyknapp__innhold {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem;
}

.bedriftsmenyknapp__innhold svg {
    width: 1.5rem;
    height: 1.5rem;
}

.bedriftsmenyknapp__tekst {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 15rem;
}

.bedriftsmenyknapp__tekst h2 {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.velgerinnhold {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 26.25rem;
    padding: var(--navds-spacing-3) var(--navds-spacing-3);
    background-color: var(--navds-semantic-color-canvas-background);
    border-radius: var(--navds-border-radius-small);
}

.velgerinnhold__liste {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    max-height: 65vh;
    overflow-y: scroll;
}

.juridisk-enhet .navds-accordion__content,
.juridisk-enhet .navds-accordion__header,
.juridisk-enhet .navds-accordion__header:hover,
.juridisk-enhet .navds-accordion__header:active {
    border: none;
}

.juridisk-enhet .navds-accordion__header {
    align-items: center;
    border-radius: var(--navds-border-radius-medium);
}

.juridisk-enhet .navds-accordion__header:focus {
    box-shadow: inset var(--navds-shadow-focus);
}

.juridisk-enhet {
    border-radius: var(--navds-border-radius-medium);
    background-color: white;
}

.juridisk-enhet__innhold {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.juridisk-enhet__tittel {
    font-weight: bold;
}

.juridisk-enhet__tekst {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.juridisk-enhet__antall-virksomheter {
    margin-top: 0.5rem;
}

.juridisk-enhet__virksomheter {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.25rem;
    padding: 0.5rem;
}

.virksomhetsknapp {
    padding: 0.75rem;
    justify-content: flex-start;
}

.virksomhetsknapp__innhold span {
    width: 100%;
}

.virksomhetsknapp__innhold {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}
