.navbm-virksomhetsvelger + .navds-popover .navds-popover__arrow {
    background-color: var(--a-bg-subtle);
}

.navbm-virksomhetsvelger {
    padding: var(--a-spacing-3) var(--a-spacing-5);
}

.navbm-virksomhetsvelger:active {
    color: white;
}

.navbm-virksomhetsvelger__innhold {
    display: grid;
    grid-template-columns: auto 15rem 1.25rem;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 520px) {
    .navbm-virksomhetsvelger__innhold {
        grid-template-columns: minmax(3rem, 15rem) 1.25rem;
    }

    navbm-virksomhetsvelger {
        padding: var(--a-spacing-3) var(--a-spacing-1) var(--a-spacing-3) var(--a-spacing-3);
    }
}

.navbm-virksomhetsvelger-fri-komponent{
    position: relative;
}

.navbm-virksomhetsvelger__innhold svg {
    width: 1.25rem;
    height: 1.25rem;
}

.navbm-virksomhetsvelger__tekst {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.navbm-virksomhetsvelger__tekst h2 {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbm-virksomhetsvelger__popup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--a-spacing-3);
    background-color: var(--a-bg-subtle);
    border-radius: var(--a-border-radius-small);
}

.navbm-virksomhetsvelger__popup-header {
    display: flex;
    gap: 0.5rem;
}

.navbm-virksomhetsvelger__popup-header-xbtn {
    all: unset;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    cursor: pointer;
}


.navbm-virksomhetsvelger__juridiske-enheter {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
}
