.navbm-virksomhetsvelger + .navds-popover .navds-popover__arrow {
    background-color: var(--a-bg-subtle);
}

.navbm-virksomhetsvelge {
    padding: var(--a-spacing-3) var(--a-spacing-5);
}


.navbm-virksomhetsvelger:active {
    color: white;
}

.navbm-virksomhetsvelger__innhold {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 520px) {
    .navbm-virksomhetsvelger__innhold {
        grid-template-columns: auto auto;
        gap: 0.2rem
    }

    .navbm-virksomhetsvelger {
        padding: var(--a-spacing-3) var(--a-spacing-1) var(--a-spacing-3) var(--a-spacing-3);
    }
}

.navbm-virksomhetsvelger__innhold svg {
    width: 1.25rem;
    height: 1.25rem;
}

.navbm-virksomhetsvelger__tekst {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 15rem;
}

.navbm-virksomhetsvelger__tekst h2 {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbm-virksomhetsvelger__popup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(26.25rem, 97vw);
    padding: var(--a-spacing-3) var(--a-spacing-3);
    background-color: var(--a-bg-subtle);
    border-radius: var(--a-border-radius-small);
}

.navbm-virksomhetsvelger__juridiske-enheter {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 65vh;
    overflow-y: scroll;
    list-style-type: none;
}
