@import '~nav-frontend-core/less/core.less';

.eksempelapp {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    min-height: 100vh;

    main {
        padding: 1rem;
        width: 100%;
        max-width: 62rem;
        margin: 0 auto;
        overflow: hidden;
    }

    code {
        white-space: pre;
        color: cornflowerblue;
        overflow: hidden;
    }
}
