@import '~nav-frontend-core/less/core.less';

.eksempelapp {
    min-height: 2000px;

    &__innhold {
        padding: 1rem;


        @media (min-width: @screen-md-min) {
            width: 62rem;
            margin: 0 auto;
        }

        .typo-normal {
            margin-bottom: 1rem;
        }
    }

    &__bjelleikon{
        width: 40px;
        height: 40px;
    }

    code {
        white-space: pre;
        color: cornflowerblue;
        overflow: hidden;
    }
}
